<footer>
    <div class="footer-left">
        <i class="fa-regular fa-paper-plane" data-controller="contact"></i>
        <label class="switch">
            <input type="checkbox">
            <span class="slider round" data-controller="darkmode"></span>
        </label>
        <i class="fa-regular fa-moon"></i>
    </div>

    <div class="horizontal-line"></div>

    <div class="footer-right">
        <a href="https://www.linkedin.com/in/benjaminmanguet/" target="_blank">
            <i class="fa-brands fa-linkedin"></i>
        </a>

        <a href="https://www.instagram.com/manguetbenj/" target="_blank">
            <i class="fa-brands fa-instagram"></i>
        </a>

        <a href="https://www.facebook.com/profile.php?id=100086903220282" target="_blank">
            <i class="fa-brands fa-facebook"></i>
        </a>
    </div>
</footer>