<header>
    <div id="menu" data-controller="toggle">
        <div></div>
        <div id="mobil-line"></div>
        <div></div>
    </div>

    <div id="logo">
        <img src="{{ asset('images/logo.png') }}" alt="logo" title="Logo de Benjamin Manguet">
    </div>
</header>