<div id="nav">
    <nav>
        <ul>
            <li>
                <a href="#">
                    <span>
                        <i class="fa-solid fa-circle-nodes"></i> Accueil <i class="fa-solid fa-circle-nodes"></i>
                    </span>
                    <span class="bottom-line"></span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        <i class="fa-regular fa-square"></i> Formations <i class="fa-regular fa-square"></i>
                    </span>
                    <span class="bottom-line"></span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        <i class="fa-solid fa-circle-nodes"></i> Expériences <i class="fa-solid fa-circle-nodes"></i>
                    </span>
                    <span class="bottom-line"></span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        <i class="fa-regular fa-square"></i> Projets <i class="fa-regular fa-square"></i>
                    </span>
                    <span class="bottom-line"></span>
                </a>
            </li>
            <li>
                <a href="#">
                    <span>
                        <i class="fa-solid fa-circle-nodes"></i> Contact <i class="fa-solid fa-circle-nodes"></i>
                    </span>
                    <span class="bottom-line"></span>
                </a>
            </li>
        </ul>
    </nav>
</div>