<div id="nav">
    <nav>
        <ul>
            <li>
                <a href="{{ path('app_index') }}">
                    <span>
                        <i class="fa-solid fa-circle-nodes"></i> Accueil <i class="fa-solid fa-circle-nodes"></i>
                    </span>
                    <span class="bottom-line"></span>
                </a>
            </li>
            <li>
                <a href="{{ path('app_skills_index') }}">
                    <span>
                        <i class="fa-regular fa-square"></i> Compétences <i class="fa-regular fa-square"></i>
                    </span>
                    <span class="bottom-line"></span>
                </a>
            </li>
            <li>
                <a href="{{ path('app_learn_index') }}">
                    <span>
                        <i class="fa-solid fa-circle-nodes"></i> Formations <i class="fa-solid fa-circle-nodes"></i>
                    </span>
                    <span class="bottom-line"></span>
                </a>
            </li>
            <li>
                <a href="{{ path('app_project_index') }}">
                    <span>
                        <i class="fa-solid fa-circle-nodes"></i> Projets <i class="fa-solid fa-circle-nodes"></i>
                    </span>
                    <span class="bottom-line"></span>
                </a>
            </li>
        </ul>
    </nav>
</div>