<div class="sphere position-first"></div>
<div class="sphere2 position-fourth"></div>
<div class="sphere2 position-fifth"></div>
<div class="sphere position-seconde"></div>
<div class="sphere position-third"></div>
<div class="sphere2 position-sixth"></div>
<div class="sphere position-seventh"></div>
<div class="sphere position-eight"></div>