body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: $main;
  background-image: url("../../public/images/wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: $white;
  font-size: 1.3em;
  text-align: start;
  text-shadow: 5px 5px 15px $purple;
  filter: drop-shadow(5px 5px 15px $purple);

  .hidden {
    display: none;
  }

  .container {
    margin: 30px;
    z-index: 3;

    .vertical-line {
      width: 1px;
      height: calc(78vh - 100px);
      background-color: $white;
      margin-top: 23px;
      position: relative;
      left: calc(100% - 24px);

      &:hover {
        background-color: $purple;
        transition: color 0.3s ease-in-out;
        filter: blur(0.4px);
      }
    }

    .full-width {
      width: 100%;
    }

    .flex-around {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .flex-between {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .base-container {
      height: 45vh;
      width: 100%;
    }
  }

  button {
    padding: 10px 25px;
    background-color: $purple;
    color: $black;
    cursor: pointer;
    border-radius: 12px;
    filter: drop-shadow(5px 5px 15px $purple);
    transition: color 0.4s linear;
    border: 1px solid $purple;

    &:hover {
      color: $white;
      box-shadow: 0 0 15px $purple;
      text-shadow: 0 0 15px $purple;
    }
  }
}

.dark {
  background-color: $black;
  transition: background-color 2.3s linear;
  animation: deleteBackground 2s linear forwards;
}

