{% extends 'base.html.twig' %}

{% block title %}Expériences{% endblock %}
{% block titleog %}Expériences{% endblock %}
{% block description %}Mes emplois et Expériences{% endblock %}
{% block descriptionog %}Mes emplois et Expériences{% endblock %}

{% block body %}
    <div id="experiences">
        <h1 data-controller="hoverTitle">Mes Expériences</h1>

        <div class="flex-between full-width base-container">
            <div id="experience-left" class="flex-between">
                <i class="fa-solid fa-circle-arrow-left"></i>
                <div>
                    <h2 id="experience-title">Auxiliaire Spécialisé Vétérinaire</h2>
                    <p id="experience-description">
                        BORDEAUX ET FRANCE
                        <br>
                        Gestion des anesthésies
                        <br>
                        - Aide en chirurgie
                        <br>
                        - Préparation des blocs
                        <br>
                        - Soins aux hospitalisés
                    </p>
                </div>
                <i class="fa-solid fa-circle-arrow-right"></i>
            </div>

            <div id="experience-right">
                <img class="experience-image" src="{{ asset('images/vet.jpg') }}" alt="image" title="image">
                <h3>Title</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor. Cras elementum ultrices diam. Maecenas ligula massa, varius a, semper congue, euismod non, mi. Proin porttitor, orci nec nonummy molestie, enim est eleifend mi, non fermentum diam nisl sit amet erat. Duis semper. Duis arcu massa, scelerisque vitae, consequat in, pretium a, enim. Pellentesque congue. Ut in risus volutpat libero pharetra tempor. Cras vestibulum bibendum augue. Praesent egestas leo in pede. Praesent blandit odio eu enim. Pellentesque sed dui ut augue blandit sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh. Mauris ac mauris sed pede pellentesque fermentum. Maecenas adipiscing ante non diam sodales hendrerit.
                </p>
            </div>
        </div>
    </div>
{% endblock %}