{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block titleog %}Accueil{% endblock %}
{% block description %}Découvrez mon univers et mes clients{% endblock %}
{% block descriptionog %}Découvrez mon univers et mes clients{% endblock %}

{% block body %}
    <div id="my-name">
        <h1 data-controller="hoverTitle">Benjamin Manguet</h1>

        <p>
            Bienvenue sur mon portfolio.
            <br>
            N'hésitez pas à parcourir les différentes rubriques et à prendre contact avec moi.
        </p>
    </div>
{% endblock %}