{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}
{% block titleog %}Formations{% endblock %}
{% block description %}Plongez dans le cœur de mes formations{% endblock %}
{% block descriptionog %}Plongez dans le cœur de mes formations{% endblock %}

{% block body %}
    <div id="learn">
        <h1 data-controller="hoverTitle">Mes Formations</h1>

        <div class="flex-center">
            <div id="learn-text">
                <h2>Formation Auxiliaire Spécialisé Vétérinaire</h2>
                <p>
                    BORDEAUX ET FRANCE
                    <br>
                    Gestion des anesthésies
                    <br>
                    - Aide en chirurgie
                    <br>
                    - Préparation des blocs
                    <br>
                    - Soins aux hospitalisés
                </p>
                <div class="flex-between">
                    <i class="fa-solid fa-circle-arrow-left"></i>
                    <i class="fa-solid fa-circle-arrow-right"></i>
                </div>
            </div>
            <div id="learn-img">

            </div>
        </div>
    </div>
{% endblock %}