.fa-paper-plane {
  font-size: 30px;
  color: $white;
  cursor: pointer;
  filter: drop-shadow(5px 5px 15px $purple);
}

svg {
  font-size: 30px;
  color: $white;
  cursor: pointer;
  filter: drop-shadow(5px 5px 15px $purple);

  &:hover {
    animation: icon3d 2s infinite;
  }
}

.fa-moon {
  color: $white;
  cursor: pointer;
  filter: drop-shadow(5px 5px 15px $purple);
  margin-left: 5px;
  height: 20px;
}

.fa-instagram {
  margin: 10px 0px;
}

.fa-facebook {
  margin-bottom: 5px;
}

.fa-circle-nodes, .fa-square {
  animation: loopInfinite 40s linear infinite;
}

@keyframes icon3d {
  0% {
    color: $purple;
    filter: drop-shadow( 5px 4px 15px $purple);
  }
  25% {
    color: $white;
    filter: drop-shadow( -5px 2px 9px $white);
  }
  50% {
    color: $purple;
    filter: drop-shadow( 9px 5px 5px $purple);
  }
  75% {
    color: $white;
    filter: drop-shadow( 6px 1px 7px $white);
  }
  100% {
    color: $black;
    filter: drop-shadow( -2px 3px 9px $purple);
  }
}